<div th:fragment="card" class="card shadow-sm">
    <div class="img-holder">
        <img
                th:src="${flat.imageLink}"
                class="card-img-top"
                alt=""
        />
    </div>
    <div class="card-body ">
        <div th:text="${flat.title} + ', ' + ${flat.square} +' кв.м, ' + ${flat.floor} +'/' + ${flat.floorsInBuilding} + ' эт.'" class="text-info card-text">
<!--            3-х комнатная квартира, 35 m2, 3/5эт.-->
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div th:text="${flat.addressShort}"></div>
            <small class="text-muted" th:text="${flat.cost}+'₽/сутки'"></small>
        </div>
    </div>
</div>