<div th:fragment="card" class="card shadow-sm" xmlns="http://www.w3.org/1999/html">
    <div class="img-holder">
        <a th:href="'/flat-'+${flat.id}">
            <img
                    th:src="${flat.imageLink}"
                    class="card-img-top"
                    alt=""
            />
        </a>
    </div>
    <div class="card-body ">
        <a th:text="${flat.title} + ', ' + ${flat.square} +' кв.м, ' + ${flat.floor} +'/' + ${flat.floorsInBuilding} + ' эт.'" class="text-info card-text" th:href="'/flat-'+${flat.id}">
        </a>

        <div class="d-flex justify-content-between align-items-center">
            <div th:text="${flat.addressShort}"></div>
            <small class="text-muted" th:text="${flat.cost}+'₽/сутки'"></small>
        </div>
    </div>
</div>