<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My First App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<body>
<div class="container header" th:insert="fragments/header :: header"></div>

<div class="col-md-6 ms-5 me-5">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <div th:text="'Сдается ' + ${flat.cost} + '₽/сутки'" class="d-inline-block mb-2 text-success"></div>
            <h3 class="mb-0">
                <div th:text="${flat.title}" class="text-dark"></div>
            </h3>
            <div th:text="${flat.square + 'кв.м.'}" class="mb-1 text-muted"></div>
            <p th:text="${flat.address}" class="card-text mb-auto"></p>
            <a class="btn btn-success">Забронировать</a>
        </div>
        <div class="img-holder" style="wight 500px; height 500px">
            <img class="card-img-right" th:src="${flat.imageLink}" style="object-fit: cover; width: 100%; height: 100%;" data-holder-rendered="true">
        </div>
    </div>
</div>

<div  class="container footer" th:insert="fragments/footer :: footer"></div>
</body>
</html>